.content {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;

    background-color: whitesmoke;
}

.content .main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    flex-grow: 2;
    width: 100%;
}