<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Welljob</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="/assets/front/vendor/aos/aos.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/assets/front/vendor/glightbox/css/glightbox.min.css">
  <link rel="stylesheet" href="/assets/front/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/front/vendor/bootstrap-icons/bootstrap-icons.css">
  <link rel="stylesheet" href="/assets/front/vendor/boxicons/css/boxicons.min.css">
  <link rel="stylesheet" href="/assets/front/vendor/remixicon/remixicon.css">
  <link rel="stylesheet" href="/assets/front/vendor/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="/assets/front/css/style.css">
            
  <script type="text/javascript" src="/assets/front/vendor/glightbox/js/glightbox.min.js"></script> 
	<script type="text/javascript" src="/assets/front/vendor/purecounter/purecounter.js"></script> 
	<script type="text/javascript" src="/assets/front/vendor/aos/aos.js"></script> 
	<script type="text/javascript" src="/assets/front/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> 
	<script type="text/javascript" src="/assets/front/vendor/isotope-layout/isotope.pkgd.min.js"></script> 
	<script type="text/javascript" src="/assets/front/vendor/swiper/swiper-bundle.min.js"></script> 
	<script type="text/javascript" src="/assets/front/vendor/php-email-form/validate.js"></script> 
	<script type="text/javascript" src="/assets/front/js/main.js"></script> 
</head>
<body>

<app-navbar></app-navbar>

<router-outlet></router-outlet>

<app-footer></app-footer>

</body>
</html>
