:host {
    display: flex;
}

.feed {
    margin: 40px;
    padding: 20px;
    width: 600px;
    /* background-color: white; */
    /* border: 1px solid gray; */
}

.new-post {
    padding: 10px;
    padding-bottom: 20px;
    border: 1px solid #e4e4e4;
    border-top: 5px solid saddlebrown;
}

.new-post textarea {
    background-color: white;
}

mat-card-content {
    display: flex;
    flex-flow: column nowrap;
    padding: 0;
}

mat-card-actions {
    display: flex;
    justify-content: end;
    padding: 0;
}