<header id="header">
  <mat-toolbar class="mat-elevation-z1">
    <span class="mat-headline-1">WellJob</span>

    <div class="links">
      <a class="item" routerLink="newsfeed" routerLinkActive="active">Home</a>
      <a class="item" routerLink="collaboration">Collaboration</a>
    </div>

    <!-- <ul>
      <li><a class="active">Home</a></li>
      <li>Collaboration Space</li>
      <li>Manage</li>
    </ul> -->
    <div class="controls">
      <div class="item">
        <mat-icon>login</mat-icon>
        <span class="mat-body">Login</span>
      </div>
      <div class="item">
        <mat-icon>settings</mat-icon>
        <span class="mat-body">Manage</span>
      </div>
    </div>
  </mat-toolbar>
</header>
